body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1,h2,h3,h4,h5,h6 ,p,pre,span, ul ,li ,a{
  font-family: "Roboto","Helvetica","Arial",sans-serif !important;
}

.dropdown-menu::after{
  display: inline-block;
  vertical-align: top;
  margin-left: 4px;
  content: "\f107";
  font-family: "FontAwesome";
  font-size: 80%;
  color: aliceblue;
}

.linkColors:hover{
  color: #00bcd4;
  margin-left: 10px;
  transition: .5s;
}